.modal_window {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal_window.active {
    display: grid;
    justify-content: center;
    align-content: start;
}

.modal_window .container {
    margin-top: 100px;
    border-radius: 5px;
    background: #F0F0F0;
}