
.plus_btn {
    background: linear-gradient(90deg, #41939c, #4682b4);
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 240px;
    border: none;
}

.plus_btn:hover {
    background: linear-gradient(90deg, #4682b4, #41939c);
}

.svg_sprite {
    align-self: center;
    fill: #363636;
}