.navbar {
    display: grid;
    grid-template-columns: 90px 1fr 1fr;
    height: 80px;
    background-color: #F0F0F0;
    align-content: center;
}

.navbar img {
    margin-left: 30px;
    width: 60px;
    height: 60px;
}

nav {
    align-self: center;
    justify-self: end;
}

nav a {
    font-size: 18pt;
    border: solid 2px #313030;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background: #313030;
    text-decoration: none;
    color: #FFFCFC;
    margin-right: 15px;
}

nav a:hover{
    box-shadow: inset 0 0 10px 0 black;
    background: #F0F0F0;
    color: black;
}

div h1 {
    margin: 0 0 0 15px;
    align-self: center;
    font-size: 36pt;
}